body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, red, lightcoral ,rgb(182, 179, 179));
}

.box{
    text-align: center;
    background-color: rgb(34, 34, 34, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input{
    border-radius: 10px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.inputSubmit{
    background-color: red;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.inputSubmit:hover{
    background-color: dodgerblue;
    cursor: pointer;
}